// Spacing
$spacing-sm: 10px;
$spacing-smd: 14px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 60px;
$spacing-xxl: 80px;
$spacing-xxxl: 100px;

// Font sizes
$font-xs: 11px;
$font-sm: 13px;
$font-md: 16px;
$font-lg: 46px;
$font-xl: 52px;

// Breakpoints
$mobile-width: 320px;
$tablet-width: 880px;
$desktop-width: 1024px;
$desktop-lg-width: 1440px;