@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/_mixins.scss';

.navigation-wrapper {
	position: absolute;
	bottom: -1rem;
	left: 0;
	width: 100%;
	
	.navigation-item {
		font-family: 'Sans';
		font-size: 2.5rem;
		line-height: 1;
		padding: 0 1rem;
		background-color: var(--bg);
		cursor: pointer;
		@include animate;

		&:first-child {
			float: left;
		}

		&:only-child, &:last-child {
			float: right;
		}

		&:hover {
			background-color: var(--text);
			color: var(--bg);
			transform: scale(1.2);
		}
	}
	@include tablet {
		bottom: -1.5rem;
	
		.navigation-item {
			font-size: 3rem;
			padding: 0 1.25rem;
		}
	}
}
